
/**********************************************
                All
**********************************************/
header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    margin-bottom: 3rem;
}
*:focus{
    outline: none!important;
}

.table thead th {
    border-bottom: none!important;
}

/**********************************************
                Modal
**********************************************/

.MuiListItem-alignItemsFlexStart .MuiCardContent-root{
    padding: 0!important;
}

.MuiBox-root {
    border: 1px solid #eee!important;
    border-radius: 0 0 .5rem .5rem!important;
}

.MuiPaper-elevation4{
    box-shadow: none!important;
}


.follow .MuiBox-root{
    padding: 0!important;
}

/**********************************************
                EditPaper.js
**********************************************/
/* styling paper */
.editPaper {
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 0px 0px 5px 0px #888;
    position: relative;
    background-image: repeating-linear-gradient(white 0px, white 24px, lightblue 25px);
    padding-top: 6px;
	padding-left: 56px;
	padding-right: 16px;
	line-height: 25px;
	font-size: 19px;
	letter-spacing: 1px;
	word-spacing: 5px;
}

/* styling red vertical line */
.editPaper::before {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 10%;
	background-color: rgba(255, 0, 0, 0.3);
}

span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: smaller;
}

.selectedInputs .MuiFormControl-root.MuiTextField-root {
    margin-right: 1rem;
}

.commentContent {
    width: calc(100% - 65px)!important;
    display: inline-block;
    margin-left:15px;
}

.profileImg {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

.profileImg img {
    border: 1px solid #aaa;
    border-radius: 100%;
}

.replyBox .MuiCardContent-root {
    padding: 2rem 0;
}

/**********************************************
                Calendar.js
**********************************************/
.react-calendar__navigation, .react-calendar__month-view__weekdays {
    display: none!important;
}
.react-calendar__month-view__days button {
    border: 1px  solid #eee;
    background-color: white
}
abbr {
    opacity: 0.2;
}

/**********************************************
            CreateProjectTabPage1.js
**********************************************/
.dropzone {
    border: 2px dashed #eee;
    height: 277px;
}

/**********************************************
            Save.js
**********************************************/
.save-img img{
    width:60px;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
    width: 50%;
}


