
/**********************************************
                All
**********************************************/
header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    margin-bottom: 3rem;
}
*:focus{
    outline: none!important;
}

.table thead th {
    border-bottom: none!important;
}

/**********************************************
                Modal
**********************************************/

.MuiListItem-alignItemsFlexStart .MuiCardContent-root{
    padding: 0!important;
}

.MuiBox-root {
    border: 1px solid #eee!important;
    border-radius: 0 0 .5rem .5rem!important;
}

.MuiPaper-elevation4{
    box-shadow: none!important;
}


.follow .MuiBox-root{
    padding: 0!important;
}

/**********************************************
                EditPaper.js
**********************************************/
/* styling paper */
.editPaper {
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 0px 0px 5px 0px #888;
    position: relative;
    background-image: repeating-linear-gradient(white 0px, white 24px, lightblue 25px);
    padding-top: 6px;
	padding-left: 56px;
	padding-right: 16px;
	line-height: 25px;
	font-size: 19px;
	letter-spacing: 1px;
	word-spacing: 5px;
}

/* styling red vertical line */
.editPaper::before {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 10%;
	background-color: rgba(255, 0, 0, 0.3);
}

span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: smaller;
}

.selectedInputs .MuiFormControl-root.MuiTextField-root {
    margin-right: 1rem;
}

.commentContent {
    width: calc(100% - 65px)!important;
    display: inline-block;
    margin-left:15px;
}

.profileImg {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

.profileImg img {
    border: 1px solid #aaa;
    border-radius: 100%;
}

.replyBox .MuiCardContent-root {
    padding: 2rem 0;
}

/**********************************************
                Calendar.js
**********************************************/
.react-calendar__navigation, .react-calendar__month-view__weekdays {
    display: none!important;
}
.react-calendar__month-view__days button {
    border: 1px  solid #eee;
    background-color: white
}
abbr {
    opacity: 0.2;
}

/**********************************************
            CreateProjectTabPage1.js
**********************************************/
.dropzone {
    border: 2px dashed #eee;
    height: 277px;
}

/**********************************************
            Save.js
**********************************************/
.save-img img{
    width:60px;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
    width: 50%;
}

/**********************************************
            ProfileEdit.js
**********************************************/
/* .lang-icon img{
    width:100%;
} */

.lang-icon {
    /* width:25%; */
    display: inline-block;
}

.drop-down-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-top:2rem;
}

.drop-down-nav li {
    display: inline-block;
    list-style: none;
    color: black;
}

.drop-down-nav .button-dropdown {
    position: relative;
}

.drop-down-nav li a {
    display: block;
    color: #333;
    background-color: #fff;
    margin: 0px 10px;
    text-decoration: none;
}

.drop-down-nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

.custom-dropdown-menu li:hover {
    background-color: #289dcc;
    color: #fff;
}
.drop-down-nav li:first-child:hover {
    border-radius: .5rem .5rem 0 0;
}

.drop-down-nav li:last-child:hover {
    border-radius: 0 0 .5rem .5rem;
}


.drop-down-nav li a:hover span {
    color: #fff;
}

.drop-down-nav li .custom-dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
    background-color: white;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    border-radius: .5rem;
    z-index: 2;
}

.drop-down-nav li .custom-dropdown-menu.active {
    display: block;
}

.drop-down-nav li .custom-dropdown-menu li {
    width: 150px;
    padding: 1rem;
}

.circleNative{
    border:3px solid greenyellow;
    border-radius:100%;
    overflow: hidden;
}


.fix-img{
    transform: rotate(-45deg);
    background-color: transparent;
    border-radius: 100%;
    overflow: hidden;
} 
 
.circle90{
    border:3px solid white;
    border-radius:100%;
    border-top-color:skyblue;
    transform: rotate(45deg);
    overflow: hidden;
}

.circle180{
    border:3px solid white;
    border-radius:100%;
    border-top-color:skyblue;
    border-right-color:skyblue;
    transform: rotate(45deg);
    overflow: hidden;
}

.circle270{
    border:3px solid white;
    border-radius:100%;
    border-top-color:skyblue;
    border-right-color:skyblue;
    border-bottom-color:skyblue;
    transform: rotate(45deg);
    overflow: hidden;
}

.circle360{
    border:3px solid skyblue;
    border-radius:100%;
    overflow: hidden;
}

.no-circle{
    border:3px solid transparent;
    /* border-radius:100%; */
    overflow: hidden;
}

.custom-dropdown-toggle img{
    position:relative;
    width: 100%;
}

.edit-lang{
    position: absolute;
    opacity: 0;
    width: 35px;
    height: 35px;
    margin-left: 3px;
    top: 3px;
    border-radius: 100%;
    text-align: center;
}

.edit-lang:hover{
    opacity:1;
    background-color:rgba(0,0,0,.1);
    line-height: 35px;
    vertical-align: middle;
}

.edit-profile-img-wr{
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 1rem;
    top: 0px;
    left: 0px;
}
.edit-profile-img-wr

.edit-profile-img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 40%;
    opacity: 0;
}

.edit-profile-img:hover{
    opacity:1;
    background-color:rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}


